.text-white {
  color: #fff !important;
}

.text-black {
  color: #000 !important;
}

.text-yellow,
.text-warning {
  color: #ffc445 !important;
}

.bg-yellow,
.bg-warning,
.btn-warning {
  background: #ffc445 !important;
}

.bg-dark,
.dark-blue {
  background: #16294d !important;
}

.bg-light-blue {
  background: #b4d9ee !important;
}

.text-blue,
.text-primary {
  color: #1b409f !important;
}

.bg-blue,
.btn-primary {
  background: #1b409f !important;
}
