.spacer-10{
    height: 10px;
}
.spacer-20{
    height: 20px;
}
.spacer-30{
    height: 30px;
}
.spacer-40{
    height: 40px;
}
.spacer-50{
    height: 50px;
}

.deals img{
    padding: 10px;
}

.container{
    padding-left:calc(var(--bs-gutter-x) * 1);
    padding-right:calc(var(--bs-gutter-x) * 1);
}